body {
  background: url(../images/background.png);
}

.content-area {
  border: 10px solid black;
  padding: 30px;
  background: rgba(128, 0, 0, 0.95);
  text-align: center;
  color: #fffaf0;
  text-shadow: 1px 2px black;
  position: absolute;
  top: 80px;
  /* margin-right: auto;
  margin-left: auto; */
}

.game-title {
  font-family: 'BioRhyme Expanded', serif;
  line-height: 300%;
}

.game-title {
  border-bottom: 3px solid black;
}

.answer-choices,
.correct,
.incorrect,
.timer {
  font-family: 'BioRhyme', serif;
  line-height: 250%;
}

.question {
  font-family: 'BioRhyme', serif;
  line-height: 150%;
}